// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
// Then add additional custom code here
:root {
    --primary-color-dark: #1b1b1b;
    --primary-color-light: #e0e0e0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--primary-color-dark);
}

.header {
    z-index: 2;

}

.cover {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color-dark);
    overflow: hidden;
}

.cover__content {
    z-index: 1;
    color: var(--primary-color-light);
}

.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.cover__paragraph {
    max-width: 80vw;
}
.text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.cover__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}